@font-face {
  font-family: 'robotothin';
  src: url('font/Roboto-Thin-webfont.eot');
  src: url('font/Roboto-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/Roboto-Thin-webfont.woff') format('woff'),
  url('font/Roboto-Thin-webfont.ttf') format('truetype'),
  url('font/Roboto-Thin-webfont.svg#robotothin') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotoregular';
  src: url('font/Roboto-Regular-webfont.eot');
  src: url('font/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('font/Roboto-Regular-webfont.woff') format('woff'),
  url('font/Roboto-Regular-webfont.ttf') format('truetype'),
  url('font/Roboto-Regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  height: 100vh;
  width: auto;
  background: #DEE5E5;

}
@keyframes color {
  100%,
  0% {
    stroke: #d62d20;
  }
  40% {
    stroke: #0057e7;
  }
  66% {
    stroke: #008744;
  }
  80%,
  90% {
    stroke: #ffa700;
  }
}
@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -35px;
  }
  100% {
    stroke-dasharray: 89, 200;
    stroke-dashoffset: -124px;
  }
}
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader {
  position: relative;
  margin: 100px auto;
  width: 100px;
}
.loader:before {
  content: '';
  display: block;
  padding-top: 100%;
}

.circular {
  -webkit-animation: rotate 2s linear infinite;
  animation: rotate 2s linear infinite;
  height: 100%;
  -webkit-transform-origin: center center;
  transform-origin: center center;
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.path {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  -webkit-animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
  stroke-linecap: round;
}
.s-grid {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
.s-block {
  flex: 1 1 auto;
}
.main-nav {
  z-index: 100;
}
.main-nav ul {
  list-style: none;
  margin: 0;
  font-family: robotoregular;
}
.main-nav ul {
  padding-left: 0;
}
.main-nav ul li {
  position: relative;
  background: #9AA8AF;
  text-align: center;
  color:#F3F5F5;
  flex:1 1 200px;
}
.main-nav ul li a:before {
  position: absolute;
  bottom:0;
  left:0;
  width:100%;
  height: 2px;
  background: #fff;
  content: '';
  transform: translate3d(0px,5px,0px);
  opacity: 0;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.main-nav ul li a {
  display: block;
  line-height: 62px;
  padding: .5rem;
}
.main-nav ul li:hover {
  cursor: pointer;
}
.main-nav ul li:hover a::before {
  transform: translate3d(0px,0px,0px);
  opacity: 1;
}
.center {
  justify-content: center;
  align-items: center;
}
.wrapper {
  height:100vh;
  width: auto;
  background: #DEE5E5;
  position: relative;
}
.card {
  background: #F0F1F5;
  font-family: 'robotothin';
  padding: 40px 0;
  border-radius: 2px;
  width: 90vmin;
  margin: auto;
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.daily-card {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
span {
  color:#78868A;
}
.card .time {
  margin: -10px 0 10px 0;
  font-size: 2.4em;
}
.card .wi-wind {
  color: #9EA3A4;
  font-size: 1.5em;
  margin-left: 5px;
  margin-top: 5px;
}
span.mainWeather {
  font-family: 'robotoregular';
  font-size: 2em;
  margin-top: ;
}
.weatherIcon {
  font-size: 5em;
  color: #9EA3A4;
}
.weatherIcon + span {
  font-size: 2.5em;
}
.secondaryTemp > .s-block {
  margin: 10px;
}
.secondaryTemp {
  margin-bottom: .5rem;
}
.wind-icon {
  padding:0 10px;
}
.time + .weatherIcon {
  margin-bottom: .4em;
}
.card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
.wind {
  padding: 10px;
}
/*.wi-celsius {*/
  /*margin-top:px;*/
/*}*/
.week {
  color:#9EA3A4;
  font-size: 1.2em;
  margin-bottom: 10px;
  margin-left: -3px;
}
.mainInfo span,
.otherInfo span {
  color:#9EA3A4;
  font-size: 1rem;
}
.description {
  text-align: center;
}
.city {
  flex:1;
  align-self: flex-start;
  background: #B8C1C5;
  color: #F3F5F5;
  padding: 0 30px;
  font-size: 1.2em;
  margin-left: -20px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
h4 i {
  padding-right: 5px;
}
