header {
  background: #4E6671;
  text-align: center;
}
header h4,
header span{
  margin: 0;
  font-size: 2rem;
  color: white;
  font-family: robotoregular;
}
header span {
  text-align: right;
  padding-right: 10px;
}
.daily-week {
  background: #B8C1C5;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  flex:1;
  align-self: flex-start;
  margin-top: -50px;
  margin-left: 20px;
}
.daily-week h4 {
  margin:10px;
  color:#F3F5F5;
  flex: 1 0 0%;
}
.daily-card {
  margin:50px auto;
}
.temp {
  padding-left: 20px;
  flex: 4 1 auto;
}
.other-info {
  flex: 1 1 auto;
}
.sunrise span{
  margin-right: 20px;
}
.main-temp {
  color: #4E6671;
  justify-content: space-between;
}
.main-temp .description {
  text-align: left;
  font-size: 1rem;
  margin-top: 15px;
  height: 45px;
}
.secondary-temp {
  margin-top: 10px;
  font-size: 2rem;
}
.secondary-temp span {
  margin-right: 20px;
}
.windy {
  font-size: 1rem;
  margin-top: 10px;
}
.windy span {
  padding-right: 15px;
}
@media (min-resolution: 150dpi) {
  .weatherIcon {
    font-size: 3rem;
    margin-top: 10px;
  }
  .card .wi-wind {
    font-size: 1rem;
  }
  .sunrise {
    margin-top: 10px;
  }
  .secondary-temp {
    font-size: 1.8rem;
  }
  .other-info span {
    font-size: 1.2rem;
  }
}
